@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Ekstraklasa</h1>
    <p class="lead">Projekt wykorzystujący ASP.NET przedstawiający Ekstraklasę</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ekstraklasa</h2>
    </div>
</div>